$primary-color: #FFB20E;
$secondary-color: #002265;
$tertiary-color: #07253c;
$text-color: #14279b;

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('../static/font/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSansProBold';
  src: url('../static/font/SourceSansPro-Bold.ttf') format('truetype');
}
/* set a max-width for horizontal fluid layout and make it centered */
.container {
  //margin-right: auto;
  //margin-left: auto;
  max-width: 1200px; /* or 950px */
}
body {
  font-family: 'SourceSansProRegular', monospace, sans-serif;
  font-weight: 300;
}
.navbar {
  justify-content: space-evenly;
}
.login-btn
{
  color: #F17228;
}
.header-section {
 //background-color: #002265;
  // background-image: url("https://th.bing.com/th/id/OIP.nU1JiFLyT8vUk_ltwSRuxAHaEK?w=295&h=180&c=7&r=0&o=5&pid=1.7https://th.bing.com/th/id/OIP.nU1JiFLyT8vUk_ltwSRuxAHaEK?w=295&h=180&c=7&r=0&o=5&pid=1.7");
  background-image: url("../static/images/Group\ 1\ 1.svg") ;
  background-repeat: no-repeat;
  background-size: 100%;
}
.cta{
  margin-top: 20px;
  background-image: url("../static/images/ImageFooter.svg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  //justify-content: center;
  .cta-text
  {
    font-weight:900;
    margin-top: 50px;
  }
  .cta-button
  {
    color: white;
    align-self:center;
   // width: 100px;
    background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    /* Button shadow ! */
    //width: fit-content;
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
  }
}
.View-All
{
  background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
  color: white;
  width: 200px;
  align-self: center;
}
.card-group
{
  
  align-items: center;
  .card
  {
    //margin: 0px 16px;
    border:0;
    .img-pad
    {
      padding: 16px;
    }
    .ordernowbtn
    {
      background: #F17228;
      color: #FFFFFF;

    }
    .food-title
    {
      .h5
      {
        //styleName: Headline 6 Bold;
font-family: 'SourceSansProRegular';
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

      }
    }
  }
}
.grey
{
  color: #424242;

}
.sale-card {
  position: relative;
}
.overlay {
  position: absolute;
  top: 170px;
  left:15px;
  height: 53px;
  width: 80px;
  padding: 5px;
  background-color: #FFB30E;
  border-radius: 0px 16px 0px 0px;;
}
.discount-percent
{
  color: white;
  //font-size: 2rem;
  font-weight: 700;
}
.frame77
{
padding: 5px;
box-shadow: 0px 4px 4px 0px #00000040;
color: #F17228;
background: #F1722833;
border-radius: 8px;
padding: 8px 16px;
justify-content: flex-start;
}
.frame78
{
padding: 5px;
box-shadow: 0px 4px 4px 0px #00000040;
color: #79B93C;
background: #79B93C33;
border-radius: 8px;
padding: 8px 16px;
justify-content: flex-start;
}
.login-btn
{
  border-radius: 8px;
padding: 14px, 24px, 14px, 24px;

  box-shadow: 0px 20px 40px 0px #FFAE004A;
box-shadow: 0px 5px 10px 0px #FFAE0042;

}

.card-section {
  padding-top: 50px;
  h3 {
    align-self: center;
    font-weight: 700;
    letter-spacing: 0.055em;
    color: #212121;
    font-family: 'SourceSansProRegular';
    font-size: 43px;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;

  }


}

.custom-footer
{
    color: #F5F5F5;;
  
}
.text-footer-white { color: #F5F5F5 !important; }
